<!-- <!DOCTYPE html> -->
<html lang="en" ng-app="iPhoneWebApp">
	<head>
		<title>iPhone Web App</title>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		
	</head>
	<body ng-controller="myController">
		
		<div class="iphone">
			<div class="screen-bg">
				
				<div class="col-xs-3 appBox" ng-repeat="item in apps track by $index">
					<div ng-click="showDelete()" ng-model="clicked">
						<img class="appicons" ng-src="{{ item.img[0] }}" />
						<p class="appname">{{ item.name }}</p>
						
						<div ng-show="showX">
							<div class="deleteX" ng-click="deleteApp(item)">
								<img style="width: 11px; margin: 2px" src="remove.png" class="fa fa-times"></i>
							</div>
						</div>

					</div>						
				</div>
				<div class="mainApp col-xs-3 appBox">
					<a href="appstore.html">
						<img class="appicons" style="width: 100%; " src="settingsicon1.png">
					</a>
					<p class="appname">App Store</p>
				</div>

			</div>

		</div>

		<script type="text/javascript" src="index.js"></script>
	</body>
</html>